body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #ffffff; /* Light text color */
  background: url("img/Truzzles.png") #121212 center center;
  height: 100vh;
  backdrop-filter: blur(100px);
}

header {
  background-color: #1e1e1e;
  color: #ffffff;
  text-align: center;
  padding: 1em 0;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header p {
  margin: 0.5em 0 0;
  font-size: 1.2em;
}

main {
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

.game-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.game-card {
  background: rgba(255, 255, 255, 0.2); /* Glass effect background color */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  width: 200px;
  text-align: center;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}

.game-card img {
  width: 100%;
  height: auto;
}

.game-card h2 {
  margin: 0;
  padding: 1em;
  background-color: #1e1e1e; /* Dark title background color */
  color: #ffffff;
}

footer {
  background-color: #1e1e1e;
  backdrop-filter: blur(10000px);
  color: #ffffff;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
